@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #800080;
  --secondary-color: #f960a3;
  --body-color: #e3e3e3;
  --block-color: #fafafa;
  --white-color: #ffffff;
  --white-accent: #d9d9d9;
  --dark-color: #1e1e1e;
  --gray-color: #666666;
  --gray-accent: #efefef;
  --link-color: #6d133f;
  --product-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  --about-shadow: 30px 30px 0px 3px var(--secondary-color);

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--body-color);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

h2,
h3 {
  line-height: 1;
}

h1 {
  font-family: 'Bungee', sans-serif;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  p {
    font-size: 2.2rem;
  }
}

label {
  cursor: pointer;
}

.container {
  max-width: 98%;
  margin-left: auto;
}

.top-text {
  letter-spacing: 2px;
}

.nav-icon {
  width: 23px;
}

.hero {
  border-top-left-radius: 50px;
  /* height: 95vh; */
}

.hero,
.login-hero,
.discount-block {
  background: linear-gradient(
    107.32deg,
    rgba(255, 0, 113, 0.4) 15.44%,
    rgba(128, 0, 128, 0.3) 79.64%
  );
}

.discount-img {
  transform: scale(1.3, 1.5);
  margin-left: 3rem;
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 5px;
  margin: 0 auto;
  background: #555;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #800080;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #800080;
  cursor: pointer;
  border-radius: 50%;
}

.mobile__overlay {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000000000;
}

.login {
  height: calc(100vh - 90px);
}

.product-sizes p {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 95vh;
  }
}

@layer components {
  .login-input {
    @apply px-8 py-5 text-[1.6rem] bg-white-accent outline-0 w-full;
  }

  .shop-cat {
    @apply flex items-center gap-8 text-[1.4rem] text-gray-color cursor-pointer;
  }

  .product-sizes {
    @apply bg-gray-300 w-[30px] h-[30px] flex justify-center items-center;
  }

  .cart-contrl {
    @apply bg-gray-300 text-primary-color text-[2rem] font-bold py-2 px-8;
  }

  .cart-inc-btn {
    @apply rounded-tr-[12px] rounded-br-[12px];
  }

  .cart-dec-btn {
    @apply rounded-tl-[12px] rounded-bl-[12px];
  }
}
