@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #800080;
  --secondary-color: #f960a3;
  --body-color: #e3e3e3;
  --block-color: #fafafa;
  --white-color: #ffffff;
  --white-accent: #d9d9d9;
  --dark-color: #1e1e1e;
  --gray-color: #666666;
  --gray-accent: #efefef;
  --link-color: #6d133f;
  --product-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  --about-shadow: 30px 30px 0px 3px var(--secondary-color);

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--body-color);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

h1 {
  font-family: 'Bungee', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 2rem;
}

.container {
  max-width: 98%;
  margin-left: auto;
}

.top-text {
  letter-spacing: 2px;
}

.nav-icon {
  width: 23px;
}

.hero {
  background: linear-gradient(
    107.32deg,
    rgba(255, 0, 113, 0.4) 15.44%,
    rgba(128, 0, 128, 0.3) 79.64%
  );

  border-top-left-radius: 50px;
  /* height: 95vh; */
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 95vh;
  }
}
